{% extends "base.html" %}
{% block content %}
<style>
    html body {
        color: black;
    }
    .slider-container {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
    }
    .slider-value {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .slider.is-fullwidth {
        width: 100%;
    }
</style>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h1 class="title has-text-black">{{ problem.title }}</h1>
                {% if problem.user %}
                <p class="subtitle is-6 has-text-black">Submitted by: {{ problem.user.name }}</p>
                {% endif %}
                {% if problem.emoji %}
                <div style="font-size: 5em;">{{ problem.emoji }}</div>
                {% endif %}
                <h3 class="subtitle is-6 has-text-black">{{ question.text }}</h3>
                <form method="POST">
                    <div class="field">
                        <div class="control slider-container">
                            <input class="slider is-fullwidth" id="answerSlider" name="answer" step="1" min="-10" max="10" value="0" type="range" required>
                            <div class="slider-value" id="sliderValue">0</div>
                            <div class="level">
                                <span class="level-left">-10</span>
                                <span class="level-right">10</span>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const slider = document.getElementById('answerSlider');
    const sliderValue = document.getElementById('sliderValue');

    slider.addEventListener('input', function() {
        sliderValue.textContent = this.value;
    });
</script>
{% endblock %}