{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h1 class="title has-text-black">Decisions Feed</h1>
                {% for decision in decisions %}
                <div class="card">
                    <div class="card-content">
                        <div style="font-size: 5em;">{{ decision.emoji }}</div>
                        <h3 class="title has-text-black is-4">{{ decision.title }}</h3>
                        <p>By {{ decision.user.name }}</p>
                       
                        <a href="{{ url_for('main.answer_decision', decision_id=decision.id) }}" class="button is-primary">Answer</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}