{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <div class="box">
                <h1 class="title has-text-black">{{ name.title() }}'s Problems</h1>
                {% if problems %}
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Questions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problem in problems %}
                        <tr>
                            <td>{{ problem.title }}</td>
                            <td>{{ problem.emoji if problem.emoji else 'No emoji' }}</td>
                            <td>
                                <ul>
                                    {% for question in problem.questions %}
                                    <li>{{ question.text }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <div class="buttons">
                                    <a href="{{ url_for('main.delete_problem', problem_id=problem.id) }}" class="button is-danger is-outlined">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span>Delete</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You haven't submitted any problems yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}